*:root {
  --mainWhite: #fff8e7;
  --mainBlue: #89cff0;
}

body {
  display: grid;
  background: var(--mainWhite);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  grid-template-columns: minmax(20px, 1fr) minmax(350px, 1fr) minmax(20px, 1fr);
  grid-template-rows: minmax(5px, 1fr) minmax(270px, max-content) minmax(
      5px,
      1fr
    );
  grid-template-areas:
    ".. .. .."
    ".. slider .."
    ".. .. ..";
}
.container {
  grid-area: slider;
  margin: 0 auto;
}
.slide-container {
  background: var(--mainBlue);
  display: block;
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 450px;
  max-height: 400px;
  padding: 4px;
}
.img-container {
  background: url(../img/image1-400x400.jpg) center/cover no-repeat;
  min-height: 400px;
  max-height: 400px;
  max-width: 450px;
  position: relative;
}
.btn {
  background: lightcoral;
  position: absolute;
}
.btn:hover {
  width: 34px;
  height: 40px;
  background-color: lightskyblue;
}
.btn-left {
  top: calc(50% - 19px);
  left: -19px;
}
.btn-right {
  top: calc(50% - 19px);
  right: -19px;
}
